<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{head :: general_header(~{::title},_,_)}">
    <title>StackOverflow Members View</title>
</head>
<body>

<div th:insert="${session.member} ? ~{fragments/navbar-member} : ~{fragments/navbar-nonmember}"></div>

<div class="main">
    <div class="container">

        <h4 class="bg-warning" th:text="${text}"></h4>

        <div class="row">

            <div class="col-lg-8">

                <h2 class="my-4">Search result
                    <small>by
                        <div th:each="search : ${searchlist}">
                            <b><a th:text="${search}"> </a></b>
                        </div>
                    </small>
                </h2>

                <hr>

                <div th:each="question : ${questions}">

                    <!-- Question Post -->

                    <!-- Title -->
                    <h3 class="mt-4" >
                        <a th:text="${question.getTitle()}" th:href="@{/search/questions(id=${question.getId()})}">
                        </a></h3>

                    <!-- Author/Date/Time -->
                    <p class="lead">
                        by <a th:href="@{/search/members(id=${question.getAuthorId()})}"
                              th:text="${question.getAuthorId()}"></a>
                        <a th:text="'Last update: ' + ${#temporals.format(question.getUpdateTime(), 'dd-MM-yyyy HH:mm')}"></a>
                    </p>

                    <p th:text="'Status: ' + ${question.getStatus().name()}">
                        <a th:each="tag : ${question.getTagList()}">
                            <a th:href="@{/search/questions(tag=${tag.getName()})}" role="button"
                               class="btn btn-default btn-sm" th:text="${tag.getName()}"></a>
                        </a>
                    </p>
                    <hr>

                    <!-- Post Content -->
                    <p class="lead" th:text="${question.getDescription()}"></p>

                    <hr>

                </div>
            </div>

            <div th:insert="~{fragments/sidebar}"></div>

        </div>
    </div>
</div>

<div th:insert="~{fragments/footer}"></div>
</body>
</html>
