<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{head :: general_header(~{::title},_,_)}">
    <title>StackOverflow Members View</title>
</head>
<body>

<div th:insert="${session.member} ? ~{fragments/navbar-member} : ~{fragments/navbar-nonmember}"></div>

<div class="main">
    <div class="container">

        <h4 class="bg-warning" th:text="${text}"></h4>

        <div class="row">

            <div class="col-lg-8">

                <h2 class="my-4">Search result
                    <small th:text="${viewMembers.size()}">
                    </small>
                </h2>


                <div th:each="viewMember : ${viewMembers}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Name:
                    <h3 th:text="${viewMember.getName()}"
                        th:action="@{/search/members(id=${viewMember.getId()})}"></h3>
                    <p th:text="'Status: ' + ${viewMember.getStatus()} "></p>
                </div>
                <hr noshade size="4">

            </div>

            <div th:insert="~{fragments/sidebar}"></div>

        </div>
    </div>
</div>

<div th:insert="~{fragments/footer}"></div>
</body>
</html>