<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{head :: general_header(~{::title},_,_)}">
    <title>Log In Form</title>
</head>

<body>

<div th:insert="~{fragments/navbar-nonmember}"></div>

<div class="main">
    <div class="container">

        <p class="bg-danger" th:text="${text}"></p>

        <div class="row">
            <div class="col-lg-8">

                <h3 class="h3">Login Form</h3>

                <form th:object="${logInDto}" method="post">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label for="email">
                            <input id="email" type="email" class="form-control" required th:field="*{email}"
                                   placeholder="Email"/>
                            <br><span class="bg-warning" th:text="${emailError}"></span>
                        </label>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <label for="password">
                            <input id="password" type="password" class="form-control" required th:field="*{password}"
                                   placeholder="Password">
                            <br><span class="bg-warning" th:text="${passwordError}"></span>
                        </label>
                    </div>

                    <p>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                        <button type="reset" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </p>

                </form>
            </div>

            <div th:insert="~{fragments/sidebar}"></div>

        </div>
    </div>
</div>

<div th:insert="~{fragments/footer}"></div>

</body>
</html>