<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{head :: general_header(~{::title},_,_)}">
    <title>StackOverflow Profile</title>
</head>
<body>

<div th:insert="~{fragments/navbar-member}"></div>

<div class="main">
    <div class="container">
        <h4 class="bg-warning" th:text="${done}"></h4>
        <div th:with="member=${session.memberDto}">
                <h3 th:text="'Name: ' + ${member.getName()}"></h3>
                <p th:text="'Id: ' + ${member.getId()} "></p>
                <p th:text="'Email: ' + ${member.getEmail()} "></p>
                <p th:text="'Reputation: ' + ${member.getReputation()} "></p>
                <p th:text="'Status: ' + ${member.getStatus()} "></p>
                <p th:text="'Questions: ' + ${member.getQuestions().size()} "></p>
                <p th:text="'Answers: ' + ${member.getAnswers().size()} "></p>
                <p th:text="'Comments: ' + ${member.getComments().size()} "></p>

            <form th:action="@{/member/update}" method="get">
                <p><input type="submit"  class="btn btn-success" value="Update" />
            </form>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer}"></div>

</body>
</html>