<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration-done</title>
    <link rel="stylesheet" href="css/index.css"
          th:href="@{../../public/css/index.css}" />
</head>
<body>
<div th:insert="~{toolbar::header}"></div>

<div class="container" th:object="${memberDto}">
    <h3 th:text="'Wellcome, ' + ${memberDto.getName()}"></h3>
    <p th:text="'Your id is ' + ${memberDto.getId()}"></p>
</div>

<div th:insert="~{toolbar::footer}"></div>

</body>
</html>