<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{toolbar::header}"></div>
<div class="main">
    <div class="container">
        <h3 class="h3">Registration Form</h3>
        <h4 th:class="bg-danger" th:text="${text}"></h4>
        <form action="/member/register" th:object="${registerDto}" method="post">
            <p>Email: </p>
            <p><label>
                <input type="email"  placeholder="Enter email" required th:field="*{email}" />
                <br><span class="bg-warning" th:text="${emailError}"></span>
            </label>
            <p>Name: </p>
            <p><label>
                <input type="text" placeholder="Enter name" required th:field="*{name}" />
                <br><span class="bg-warning" th:text="${nameError}"></span>
            </label>
            <p>Password: </p>
            <p><label>
                <input type="text" placeholder="Enter Password" required th:field="*{password}" />
                <br><span class="bg-warning" th:text="${passwordError}"></span>
            </label>
            <p><input type="submit"  class="btn btn-success" value="Submit" />
                <input type="reset" class="btn btn-warning" value="Reset" /></p>
        </form>
    </div>
</div>
<div th:insert="~{toolbar::footer}"></div>
</body>
</html>