<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration-done</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{toolbar::header}"></div>

<div class="container" th:with="member=${session.memberDto}">
    <h3 th:text="'Wellcome, ' + ${member.getName()}"></h3>
    <p th:text="'Your id is ' + ${member.getId()}"></p>
</div>

<div th:insert="~{toolbar::footer}"></div>

</body>
</html>