<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{head :: general_header(~{::title},~{::style},_)}">
    <title>StackOverflow Member View</title>
    <style>
        .answer {
            padding-left: 40px;
        }

        .comment {
            padding-left: 80px;
            background-color: beige;
        }
    </style>
</head>
<body>

<div th:insert="${session.member} ? ~{fragments/navbar-member} : ~{fragments/navbar-nonmember}"></div>

<div class="main">
    <div class="container">

        <p class="bg-danger" th:text="${text}"></p>

        <div class="row">

            <!--            Count content column-->
            <div class="col-lg-1">
                <p>
                <form name="upvote" th:action="@{/questions/{id}/upvote(${question.getId()})}">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    </button>
                </form>
                <p>
                <h1 th:text="${question.getVoteCount()}"></h1>
                <p>
                <form name="downvote" th:action="@{/questions/{id}/downvote(${question.getId()})}">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                </form>
            </div>

            <!-- Question Content Column -->
            <div class="col-lg-7">

                <!-- Title -->
                <h1 class="mt-4" th:text="${question.getTitle()}"></h1>

                <!-- Author -->
                <p class="lead">
                    by
                    <a th:href="@{/search/members(id=${question.getAuthorId()})}"
                       th:text="${question.getAuthorId()}"></a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p th:text="'Last update: ' + ${#temporals.format(question.getUpdateTime(), 'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="'Posted: ' + ${#temporals.format(question.getCreationTime(), 'dd-MM-yyyy HH:mm')}"></p>

                <hr>

                <!-- Post Content -->
                <p class="lead" th:text="${question.getDescription()}"></p>

                <hr>

                <!-- Answers with nested comments -->
                <div class="answer" th:each="answer : ${question.getAnswerList()}">
                    <div class="media mb-4">
                        <div class="media-body">
                            <h5 class="mt-0" th:href="@{/search/members(id=${answer.getAuthorId()})}"
                                th:text="'Author: ' + ${answer.getAuthorId()}"></h5>
                            <p th:text="'Posted: '  + ${#temporals.format(answer.getCreationDate(), 'dd-MM-yyyy HH:mm')}"></p>
                            <p th:text="${answer.getAnswerText()} "></p>

                            <hr>

                            <!-- Comments Form -->
                            <div class="card my-4">
                                <form th:action="@{/questions/{questionId}/answer/{answerId}/comment/create(questionId=${question.getId()}, answerId=${answer.getId()})}">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="1"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <button type="reset" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>

                            <!-- Nested comments-->

                            <div class="comment" th:each="comment : ${answer.getComments()}">
                                <div class="media mt-4">
                                    <div class="media-body">
                                        <p th:text="${comment.getText()} "></p>
                                        <h5 class="mt-0" th:href="@{/members(id=${comment.getAuthorId()})}"
                                            th:text="'Author: ' + ${comment.getAuthorId()}"></h5>
                                        <a th:text="${#temporals.format(comment.getCreationDate(), 'dd-MM-yyyy HH:mm')}"></a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- Answer Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave an Answer:</h5>
                    <div class="card-body">
                        <form th:action="@{/questions/{questionId}/answer/create(questionId=${question.getId()})}">
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="reset" class="btn btn-primary">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </div>

            </div>

            <div th:insert="~{fragments/sidebar}"></div>

        </div>
    </div>
</div>

<div th:insert="~{fragments/footer}"></div>
</body>
</html>