<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StackOverflow.course.ra.com</title>
    <style>
        h1.welcome{
            color: darkblue;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="container">
        <h1 class="welcome">Welcome to Stack Overflow!</h1>
        <h3>Please <b><a href="/member/login"> log in</a></b> </h3>
        <h3>Or <b><a href="/member/register"> register</a></b> </h3>
    </div>
</div>
</body>
</html>