<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toolbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header" th:fragment="header">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">Stack <b>overflow</b></a>
                </div>
                <ul class="nav navbar-nav" th:with="member=${session.memberDto}">
                    <li class="dropdown" th:with="member=${session.memberDto}" th:if="${session.memberDto}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text=" ${member.getName()}">
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/member/{id}(id=${member.getId()})}">My profile</a></li>
                            <li><a th:href="@{/member/exit}">Exit</a></li>
                        </ul>
                    </li>

                    <li><a th:href="@{/member/login}" th:unless="${session.memberDto}">Log In</a></li>
                    <li><a th:href="@{/member/register}" th:unless="${session.memberDto}">Register</a></li>

                    <li><a th:href="@{/member/search}">Search member</a></li>
                    <li><a href="#">Search question</a></li>
                    <li><a href="#"></a></li>
                </ul>

            </div>
        </nav>
    </header>
</div>
<div class="footer" th:fragment="footer">
    <footer class="footer navbar-fixed-bottom navbar-inverse">
        <div class="container text-center">
            <h5><b> Copyright &copy; 2020 The StackOverflow Team Virtual Company.</b></h5>
        </div>
    </footer>
</div>
</body>
</html>